<h1>Add a new word to the dictionary!</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">What's your new word?</label>
    <input type="text" class="form-control" name="new_word">
  </div>
  <button type="submit" name="btn">Make a new word!</button>
</form>
