<h3>Word: <%= @word.name %></h3>

<h3>Definition(s)</h3>


<h2>Add a definition:</h2>

<form class="" action="index.html" method="post">

</form>


<p><a href="/words/<%= @word.id %>/edit">Edit Word</p>
<p><a href="/words">Return to the dictionary!</a></p>
