<h1><%= @word.name %></h1>

<h4>Definition(s)</h4>


<h4>Add a definition:</h4>

<form class="" action="index.html" method="post">

</form>


<p><a href="/words/<%= @word.id %>/edit">Edit Word</p>
<p><a href="/words">Return to the dictionary!</a></p>
